<template>
  <div class="footer">
    <h1>
      <div>
        <div class="icon"></div>
        7天无理由退换货
      </div>
      <div>
        <div class="icon"></div>
        满99元全场免邮
      </div>
      <div>
        <div class="icon"></div>
        100%品质保证
      </div>
    </h1>
    <a href="https://github.com/hai-27/vue-store" target="_blank"
      ><div class="github-but"></div
    ></a>
    <ul>
      <li>首页</li>
      <span>|</span>
      <li>全部商品</li>
      <span>|</span>
      <li>关于我们</li>
    </ul>
    <p>商城版权所有 © 2012-2021</p>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted() {},
  methods: {},
  components: {},
};
</script>

<style lang='scss' scoped>
.footer {
  width: 100%;
  background-color: #2f2f2f;
  height: 334px;
  color: #fff;
  padding: 0;
  h1 {
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      width: 340px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      .icon {
        width: 40px;
        height: 40px;
        background: url("../../../public/spriteSheet.png") no-repeat 0px 0px;
      }
    }
  }
  .github-but {
    height: 50px;
    background: url("../../../public/cat.png") no-repeat center;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #888888;
    span {
      margin: 20px;
    }
  }
  p {
    text-align: center;
    margin-top: 20px;
    color: #888888;
  }
}
</style>
