<template>
  <!-- Carousel 走马灯 -->
  <div class="Carousel">
    <el-carousel height="460px">
      <el-carousel-item v-for="(item, index) in Carousel" :key="index">
        <h3>
          <img :src="`http://106.15.179.105:3000/` + item.imgPath" />
        </h3>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import { getHeader } from "@/api/get";
export default {
  data() {
    return {
        Carousel:[]
    };
  },
  mounted() {
    //轮播
    getHeader().then((result) => {
      this.Carousel = result.carousel;
      // console.log(this.Carousel);
    });
  },
  methods: {},
  components: {},
};
</script>

<style lang='scss' scoped>
// <!-- Carousel 走马灯 -->
.Carousel {
  // width: 100%;
  height: 460px;
  background-color: #fff;
  img {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
    width: 100%;
    height: 460px;
  }
}
</style>
