<template>
  <div class="collect">
    <!-- Add a static page for my favorite module -->
    <div class="collect-header">
      <div class="collect-title">
        <i class="el-icon-collection-tag" style="color: #ff6700"></i>
        我的收藏
      </div>
    </div>
    <div class="content">
      <div class="goods-list" v-if="collectList.length > 0">
        <div class="card" v-for="(item, index) in collectList" :key="index">
          <el-card shadow="hover" :body-style="{ padding: '0px' }">
             <el-button @click="removeCollect(item.product_id)" style="float: right; padding: 0px 0" type="text" icon="el-icon-close"></el-button>
            <div>
              <img
                :src="`http://106.15.179.105:3000/` + item.product_picture"
              />
            </div>
            <p class="product_name">{{ item.product_name }}</p>
            <p class="small">
              {{ item.product_title }}
            </p>
            <div class="price">
              <strong>{{ item.product_price }}元</strong
              ><s>{{ item.product_selling_price }}元</s>
            </div>
          </el-card>
        </div>
      </div>
      <!-- 收藏列表为空的时候显示的内容 -->
      <div v-else class="collect-empty">
        <div class="empty">
          <h2>您的收藏还是空的！</h2>
          <p>快去购物吧！</p>
        </div>
      </div>
      <!--  收藏列表为空的时候显示的内容END -->
    </div>
  </div>
</template>

<script>
import { getCollect,deleteCollect } from "../../api/get2";
export default {
  data() {
    return {
      collectList: [],
    };
  },
  mounted() {
    this.$store.commit("getDate");
    this.getCollectList();
  },
  methods: {
    getCollectList() {
      getCollect({ user_id: this.$store.state.user.user_id }).then((result) => {
        console.log(result.collectList);
        this.collectList = result.collectList;
      });
    },
    removeCollect(product_id) {
      deleteCollect({
          user_id: this.$store.state.user.user_id,
          product_id: product_id
        }).then((result) => {
          console.log(result);
          this.getCollectList();
          this.$notify({
          title: "成功",
          message: result.msg,
          type: "success",
        });
        }).catch((err) => {
          this.$notify.error({
            title: "错误",
            message: result.msg,
          });
        })
    }
  },
  /*  activated() {
    // 获取收藏数据
    this.$axios
      .post("/api/user/collect/getCollect", {
        user_id: this.$store.getters.getUser.user_id
      })
      .then(res => {
        if (res.data.code === "001") {
          this.collectList = res.data.collectList;
        }
      })
      .catch(err => {
        return Promise.reject(err);
      });
  } */
};
</script>

<style lang='scss'>
.collect {
  background-color: #f5f5f5;
}
.collect .collect-header {
  height: 64px;
  background-color: #fff;
  border-bottom: 2px solid #ff6700;
}
.collect .collect-header .collect-title {
  width: 1225px;
  margin: 0 auto;
  height: 64px;
  line-height: 58px;
  font-size: 28px;
}
.collect .content {
  padding: 20px 0;
  width: 1225px;
  margin: 0 auto;
}
.collect .content .goods-list {
  margin-left: -13.7px;
  overflow: hidden;
  display: flex;
}

// 卡片样式
.card {
  width: 234px;
  height: 299px;
  margin: 0px 0px 14.5px 12.765px;
  .el-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // padding:20px 0;
    background-color: #fff;

    p,
    div {
      text-align: center;
      font-size: 16px;
      // margin-bottom: 5px;
      strong {
        color: red;
        margin-right: 10px;
      }
      s {
        color: #b0b0b0;
      }
    }
    .price {
      margin: 20px 0;
    }
    .product_name {
      font-weight: 400;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 20px 0 5px 0;
    }
    .small {
      margin: 5 px 10 px;
      height: 18 px;
      font-size: 12px;
      color: #b0b0b0;
    }
    img {
      width: 160px;
      height: 160px;
    }
  }
}
// 卡片样式结束
/* 收藏列表为空的时候显示的内容CSS */
.collect .collect-empty {
  width: 1225px;
  margin: 0 auto;
}
.collect .collect-empty .empty {
  height: 300px;
  padding: 0 0 130px 558px;
  margin: 65px 0 0;
  background: url(../../assets/cart-empty.png) no-repeat 124px 0;
  color: #b0b0b0;
  overflow: hidden;
}
.collect .collect-empty .empty h2 {
  margin: 70px 0 15px;
  font-size: 36px;
}
.collect .collect-empty .empty p {
  margin: 0 0 20px;
  font-size: 20px;
}
/* 收藏列表为空的时候显示的内容CSS END */
</style>
