<template>
  <div id="header">
    <div class="header">
      <ul>
        <li v-if="user.userName && user.user_id">
          欢迎<a href="#" @click="visible = true">{{ user.userName }}</a>
          <el-popover placement="top" width="160" v-model="visible">
            <p>确定退出登录吗？</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="visible = false"
                >取消</el-button
              >
              <el-button
                type="primary"
                size="mini"
                @click.stop="logOut(), (visible = false)"
                >确定</el-button
              >
            </div>
          </el-popover>
        </li>
        <li v-else>
          <a href="#" @click="logoEvent()">登录</a><small>|</small
          ><a href="#" @click="registerEvent()">注册</a>
        </li>
        <li><a href="#" @click="$router.push('/myOrder')">我的订单</a></li>
        <li><a href="#" @click="$router.push('/myCollection')">我的收藏</a></li>
        <li class="shopCar">
          <a href="#" @click="$router.push('/shopCar')">购物车({{$store.getters.allNumber}})</a>
        </li>
      </ul>
    </div>
    <!-- 登录框 -->
    <el-dialog title="登录" :visible.sync="loginFormVisible" width="300px">
      <el-form :model="loginForm">
        <el-form-item prop="text">
          <el-input
            type="text"
            v-model="loginForm.name"
            autocomplete="off"
            placeholder="请输入账号"
          ></el-input>
        </el-form-item>
        <el-form-item prop="text">
          <el-input
            type="password"
            v-model="loginForm.pass"
            autocomplete="off"
            placeholder="请输入密码"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            size="medium"
            type="primary"
            @click="loginSubmitForm('loginForm'), (loginFormVisible = false)"
            >确 定</el-button
          >
        </el-form-item>
      </el-form>
    </el-dialog>
    <!-- 注册框 -->
    <el-dialog title="注册" :visible.sync="registerFormVisible" width="300px">
      <el-form :model="registerForm">
        <el-form-item prop="text">
          <el-input
            type="text"
            v-model="registerForm.account"
            autocomplete="off"
            placeholder="请输入账号"
          ></el-input>
        </el-form-item>
        <el-form-item prop="text">
          <el-input
            type="password"
            v-model="registerForm.pass"
            autocomplete="off"
            placeholder="请输入密码"
          ></el-input>
        </el-form-item>
        <el-form-item prop="checkPass">
          <el-input
            type="password"
            v-model="registerForm.checkPass"
            autocomplete="off"
            placeholder="请再次输入密码"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="
              registerSubmitForm('registerForm'), (registerFormVisible = false)
            "
            >确 定</el-button
          >
        </el-form-item>
      </el-form>
    </el-dialog>
    <!-- 退出登录 -->
  </div>
</template>

<script>
import { getRegister, getlogin,getShoppingCart} from "../../api/get2";

export default {
  data() {
    return {
      loginFormVisible: false, //控制登录框的显示
      registerFormVisible: false, //控制注册的显示
      visible: false, //控制退出登录消息提示
      // 登录表单
      loginForm: {
        name: "aaaaataj",
        pass: "a123456",
      },
      //注册表单
      registerForm: {
        account: "123",
        pass: "123",
        checkPass: "123",
      },
      formLabelWidth: "120px",
      // userName: "", //存储登录成功的用户名
      user: {
        userName: "",
        user_id: 0,
      },
      shoppingCartData:[]//购物车数据
    };
  },
  mounted() {
    var str = localStorage.getItem("token") || "[]"; //存储登录成功的用户名
    this.user = JSON.parse(str);
    // console.log("137this.user", this.user);
    this.getShoppingCartData()
  },

  methods: {
    //获取购物车数据
    getShoppingCartData() {
      getShoppingCart({ user_id: this.user.user_id }).then((result) => {
        this.shoppingCartData = result.shoppingCartData;
        // console.log("145this.shoppingCartData",this.shoppingCartData);
        this.$store.dispatch('setShoppingCart',result.shoppingCartData)
      });
    },
    // 登录事件
    logoEvent() {
      this.loginFormVisible = true;
    },
    // 注册事件
    registerEvent() {
      this.registerFormVisible = true;
    },

    // 登录确定
    loginSubmitForm() {
      // console.log("注册");
      getlogin({
        userName: this.loginForm.name,
        password: this.loginForm.pass,
      }).then((result) => {
        // console.log(result);
        if (result.msg === "登录成功") {
          // this.userName=result.user.userName
          localStorage.setItem("token", JSON.stringify(result.user));
        } else {
        }
      });
    },
    // 注册确定
    registerSubmitForm() {
      // console.log("注册");
      getRegister({
        userName: this.registerForm.account,
        password: this.registerForm.pass,
      }).then((result) => {
        console.log(result);
      });
    },
    //  退出登录
    logOut() {
      localStorage.clear();
      this.user.userName = "";
    },
  },
  components: {},
};
</script>
<style lang='scss' scoped>
a {
  text-decoration: none;
  font-size: 14px;
  color: #b0b0b0;
}
a:hover {
  color: #fff;
}
#header {
  .header {
    color: #b0b0b0;
    padding: 0;
    background-color: #3d3d3d;
    ul {
      display: flex;
      align-items: center;
      height: 60px;
      width: 1225.5px;
      min-width: 1225.5px;
      margin: 0 auto;
      justify-content: right;
      li {
        // width: 80px;
        text-align: center;
        margin-left: 10px;
        small {
          margin: 0 10px;
        }
      }
      .shopCar {
        width: 120px;
        background: #ff6700;
        height:100%;
        color: #b0b0b0;
        font-size: 14px;
        text-align: center;
        line-height: 60px;
        margin-left: 20px;
        a{
          color: #fff;
        }
      }
    }
  }
  .el-dialog {
    .el-button {
      width: 100%;
    }
  }
}
</style>
