<template>
  <div class="f_right">
    <div class="card" v-for="(item, index) in promoProduct" :key="index" @click="toDetails(item.product_id)">
       <el-card shadow="hover" :body-style="{ padding: '0px' }">
        <div><img :src="link + item.product_picture" /></div>
        <p class="product_name">{{ item.product_name }}</p>
        <p class="small">
          {{ item.product_title }}
        </p>
        <div class="price">
          <strong>{{ item.product_price }}元</strong
          ><s>{{ item.product_selling_price }}元</s>
        </div>
      </el-card>
    </div>
    <el-card class="more">
      <a href="#" @click="goAllGoods(1)">浏览更多》</a>
    </el-card>
  </div>
</template>

<script>
export default {
  props: {
    promoProduct: Array,
  },
  watch: {
    promoProduct(curInfo) {
      if (curInfo) {
        this.promo = curInfo;
      }
      console.log(this.promo);
    },
  },
  data() {
    return {
      link: `http://106.15.179.105:3000/`,
      promo: [],
    };
  },
  mounted() {
    // console.log(this.promo);
  },
  methods: {
    goAllGoods(item){
      // console.log(this.promoProduct);
      this.$router.push({path:"./AllGoods",query:{item}})
    },
    // 跳转详情
    toDetails(id) {
      console.log(id);
      this.$router.push({ path: "./details",query:{id:id}});
    },
  },
  components: {},
};
</script>

<style lang='scss' scoped>
.f_right {
  width: 991px;
  height: 615px;
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 234px;
    height: 299px;
    margin: 0px 0px 14.5px 12.765px;
    .el-card {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // padding:20px 0;
      background-color: #fff;

      p,
      div {
        text-align: center;
        font-size: 16px;
        // margin-bottom: 5px;
        strong {
          color: red;
          margin-right: 10px;
        }
        s {
          color: #b0b0b0;
        }
      }
      .price {
        margin: 20px 0;
      }
      .product_name {
        font-weight: 400;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 20px 0 5px 0;
      }
      .small {
        margin: 5 px 10 px;
        height: 18 px;
        font-size: 12px;
        color: #b0b0b0;
      }
      img {
        width: 160px;
        height: 160px;
      }
    }
  }
  .more {
    width: 234px;
    height: 299px;
    margin: 0px 0px 14.5px 12.765px;
    line-height: 259px;
    text-align: center;
    a {
      font-size: 18px;
      color: #000;
      text-decoration: none;
    }
    a:hover {
      color: #ff6700;
    }
  }
}
</style>
