<template>
  <div class="aboutUs markdown-body" v-html="aboutUsData" >
   
  </div>

</template>

<script>
import { getREADME } from "../api/get";
import marked from 'marked';
export default {
  data() {
    return {
      aboutUsData:""
    };
  },
  mounted() {
    this.getAboutUsData();
  },
  methods: {
    getAboutUsData() {
      getREADME()
        .then((result) => {
          console.log(result);
          this.aboutUsData=result
        })
        .catch((err) => {});
    },
  },
  components: {marked},
};
</script>

<style lang='scss'>
</style>

