<template>
  <div id="AllGoods">
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>全部商品</el-breadcrumb-item>
        <el-breadcrumb-item>分类</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <!-- tab切换 -->
    <div class="tab">
      <ul>
        <li class="tab_class">分类</li>
        <li @click="toggle(0)" :class="{ li_active: flag == 0 }">全部</li>
        <li
          v-for="item in categoryData"
          :key="item.category_id"
          @click="toggle(item.category_id)"
          :class="{ li_active: flag == item.category_id }"
        >
          {{ item.category_name }}
        </li>
      </ul>
    </div>
    <div class="main" v-if="flag == 0">
      <div
        class="card"
        v-for="(item, index) in AllProductData"
        :key="index"
        @click="toDetails(item.product_id)"
      >
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div>
            <img :src="`http://106.15.179.105:3000/` + item.product_picture" />
          </div>
          <p class="product_name">{{ item.product_name }}</p>
          <p class="small">
            {{ item.product_title }}
          </p>
          <div class="price">
            <strong>{{ item.product_price }}元</strong
            ><s>{{ item.product_selling_price }}元</s>
          </div>
        </el-card>
      </div>
      <!-- 分页器 -->
      <div class="block">
        <el-pagination
          background
          layout="prev, pager, next"
          :total="total"
          :page-size="allProductParams.pageSize"
          :current-page="allProductParams.currentPage"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        >
        </el-pagination>
      </div>
    </div>
    <div class="main" v-else-if="0<flag<9">
      <div class="card" v-for="(item, index) in productByCategory" :key="index">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div>
            <img :src="`http://106.15.179.105:3000/` + item.product_picture" />
          </div>
          <p class="product_name">{{ item.product_name }}</p>
          <p class="small">
            {{ item.product_title }}
          </p>
          <div class="price">
            <strong>{{ item.product_price }}元</strong
            ><s>{{ item.product_selling_price }}元</s>
          </div>
        </el-card>
      </div>
    </div>
    <div class="main" v-else>
      <div class="card" v-for="(item, index) in productByCategory" :key="index">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div>
            <img :src="`http://106.15.179.105:3000/` + item.product_picture" />
          </div>
          <p class="product_name">{{ item.product_name }}</p>
          <p class="small">
            {{ item.product_title }}
          </p>
          <div class="price">
            <strong>{{ item.product_price }}元</strong
            ><s>{{ item.product_selling_price }}元</s>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import { getCategory, getAllProduct, getProductByCategory } from "../api/get";
export default {
  data() {
    return {
      AllProductData: [], //全部商品数据
      categoryData: [], //分类数据
      productByCategory: [], //商品分类数据
      serchProductData:[],//搜索商品数据
      flag: 0,
      total: 0,
      allProductParams: { categoryID: [], currentPage: 1, pageSize: 15 },
    };
  },
  mounted() {
    // this.promoProduct = JSON.parse(this.$route.query.promoProduct);
    // console.log(this.promoProduct);
    this.flag = this.$route.query.item; //首页调转过来
    this.getCategoryData();
    this.getAllProductData();
    this.getProductByCategoryData(this.$route.query.item); //首页调转过来调用
    this.getSerchProductData();
  },
  methods: {
    //tab切换
    toggle(i) {
      this.flag = i;
      this.getProductByCategoryData(i);
    },
    //获取分类数据
    getCategoryData() {
      getCategory({}).then((result) => {
        // console.log(result);
        this.categoryData = result.category;
        // console.log(this.categoryData);
      });
    },
    //获取全部商品
    getAllProductData() {
      getAllProduct(this.allProductParams).then((result) => {
        // console.log(result);
        this.total = result.total;
        this.AllProductData = result.Product;
        // console.log(this.AllProductData);
      });
    },
    //获取搜索商品数据
    getSerchProductData() {

     console.log(146,this.$route.query);
    },
    //获取商品分类数据
    getProductByCategoryData(i) {
      getProductByCategory({
        categoryID: [i],
        currentPage: 1,
        pageSize: 15,
      }).then((result) => {
        // console.log(result);
        this.productByCategory = result.Product;
        // console.log(this.productByCategory);
      });
    },
    //分页器
    handleSizeChange(val) {
      // console.log(`每页 ${val} 条`);
      this.allProductParams.pageSize = val;
      this.getAllProductData();
    },
    handleCurrentChange(val) {
      // console.log(`当前页: ${val}`);
      this.allProductParams.currentPage = val;
      // console.log(this.allProductParams.currentPage);
      this.getAllProductData();
    },
    // 跳转详情
    toDetails(id) {
      // console.log(item);
      this.$router.push({ path: "./details",query:{id:id}});
    },
  },
  components: {},
};
</script>
<style lang='scss' scoped>
#AllGoods {
  .breadcrumb {
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tab {
    background-color: #fff;
    ul {
      display: flex;
      .tab_class {
        font-size: 15px;
        font-weight: 600;
        border: none;
        text-align: left;
      }
      li {
        width: 83px;
        height: 40px;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #eee;
      }
      .li_active {
        color: #409eff;
        border-bottom: 1px solid #fff;
      }
    }
  }
  .main {
    min-height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
    margin-top: 12px;
    margin-left: -10.7px;
    .card {
      width: 234px;
      height: 299px;
      margin: 0px 0px 14.5px 10.7px;
      .el-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // padding:20px 0;
        background-color: #fff;
        p,
        div {
          text-align: center;
          font-size: 16px;
          // margin-bottom: 5px;
          strong {
            color: red;
            margin-right: 10px;
          }
          s {
            color: #b0b0b0;
          }
        }
        .price {
          margin: 20px 0;
        }
        .product_name {
          font-weight: 400;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin: 20px 0 5px 0;
        }
        .small {
          margin: 5 px 10 px;
          height: 18 px;
          font-size: 12px;
          color: #b0b0b0;
        }
        img {
          width: 160px;
          height: 160px;
        }
      }
    }
    .block {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
