<template>
  <div id="detail">
    <header>
      <div>小米cc9Pro</div>
      <ul>
        <li>概述</li>
        <li>参数</li>
        <li>用户评价</li>
      </ul>
    </header>
    <main>
      <!-- 轮播图 -->
      <div class="block">
        <el-carousel height="600px">
          <el-carousel-item
            v-for="(item, index) in detailsPicture"
            :key="index"
          >
            <img :src="`http://106.15.179.105:3000/` + item.product_picture" />
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="contant" v-for="item in detailData" :key="item">
        <div class="name">{{ item.product_name }}</div>
        <div class="intro">{{ item.product_intro }}</div>
        <div class="store">{{ item.product_title }}</div>
        <div class="price">
          <strong> {{ item.product_selling_price }}元</strong>
          <s>{{ item.product_price }}元</s>
        </div>
        <div class="pro-list">
          <div class="pro-list-h">
            <strong>{{ item.product_name }}</strong>
            <div>
              <strong> {{ item.product_selling_price }}元</strong>
              <s>{{ item.product_price }}元</s>
            </div>
          </div>
          <div class="pro-list-m">
            <strong>总计: {{ item.product_selling_price }}元</strong>
          </div>
        </div>
        <div class="button">
          <el-button type="success" @click="addShopCar(item)"
            >加入购物车</el-button
          >
          <el-button type="info" @click="like(item)">喜欢</el-button>
        </div>
        <ul>
          <li>小米自营</li>
          <li>小米发货</li>
          <li>7天无理由退货</li>
          <li>7天价格保护</li>
        </ul>
      </div>
    </main>
  </div>
</template>

<script>
import { getDetails, getDetailsPicture } from "../api/get";
import { getAddShoppingCart, getaddCollect } from "../api/get2";
export default {
  data() {
    return {
      productID: 0,
      detailData: [],
      detailsPicture: [],
      user_id: 0,
    };
  },
  mounted() {
    console.log();
    this.$store.commit("getDate");
    this.getDetailsData();
    this.getDetailsPictureData();
  },
  methods: {
    getDetailsData() {
      getDetails({ productID: this.$route.query.id }).then((result) => {
        this.detailData = result.Product;
        // console.log(53, this.detailData);
      });
    },
    getDetailsPictureData() {
      getDetailsPicture({ productID: this.$route.query.id }).then((result) => {
        // console.log(59, result);
        this.detailsPicture = result.ProductPicture;
        // console.log(53,this.detailsPicture);
      });
    },
    // 加入购物车
    addShopCar(item) {
      // console.log(item);
      // this.$store.commit("addShopCar", item);
      // 本地获取用户id
      let str = localStorage.getItem("token") || "[]";
      this.user_id = JSON.parse(str).user_id;
      getAddShoppingCart({
        user_id: this.user_id,
        product_id: item.product_id,
      }).then((result) => {
        console.log(result);
         this.$store.dispatch('setShoppingCart',result)
        this.$notify({
          title: "成功",
          message: result.msg,
          type: "success",
        });
      });
    },
    // 添加收藏
    like(item) {
      getaddCollect({
        user_id: this.$store.state.user.user_id,
        product_id: item.product_id,
      })
        .then((result) => {
          console.log(result);
          this.$notify({
            title: "成功",
            message: result.msg,
            type: "success",
          });
        })
        .catch((err) => {
          this.$notify.error({
            title: "错误",
            message: result.msg,
          });
        });
    },
  },
  components: {},
};
</script>

<style lang='scss'>
#detail {
  min-height: 655px;
  header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px #ccc;
    margin-bottom: 6px;
    ul {
      display: flex;
    }
  }
  main {
    display: flex;
    .block {
      width: 560px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .contant {
      background-color: #fff;
      margin-left: 25px;
      width: 640px;
      .name {
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        font-weight: 400;
        color: #212121;
      }
      .intro {
        color: #b0b0b0;
        padding-top: 10px;
      }
      .store {
        color: #ff6700;
        padding-top: 10px;
      }
      .price {
        display: block;
        font-size: 18px;
        color: #ff6700;
        border-bottom: 1px solid #e0e0e0;
        padding: 25px 0 25px;
      }
      .pro-list {
        background: #f9f9fa;
        padding: 30px 60px;
        background-color: #f9f9fa;
        margin: 50px 0 50px;
        .pro-list-h {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .pro-list-m {
          color: #ff6700;
          font-size: 24px;
          padding-top: 20px;
        }
      }
      .button {
        height: 55px;
        margin: 10px 0 20px 0;
        .el-button {
          width: 313px;
          height: 55px;
        }
      }
      ul {
        display: flex;
        color: #b0b0b0;
        li {
          margin-right: 20px;
        }
      }
    }
  }
}
</style>
