<template>
  <div id="goods">
    <!-- //轮播图 -->
    <Carousel></Carousel>
    <div class="floor">
      <div class="f_title">手机</div>
      <div class="f_contant">
        <div class="img"><img src="../../public/phone.png" /></div>
        <floor :promoProduct="phoneProduct"></floor>
      </div>
    </div>
    <div class="floor">
      <div class="f_title">
        家电
        <ul>
          <li @mousemove="toggle(0)">热门</li>
          <li @mousemove="toggle(1)">电视影音</li>
        </ul>
      </div>
      <div class="f_contant">
        <div class="img">
          <el-card :body-style="{ padding: '0px' }" shadow="hover"
            ><img src="../../public/appliance-promo1.png"
          /></el-card>
          <el-card :body-style="{ padding: '0px' }" shadow="hover"
            ><img src="../../public/appliance-promo2.png"
          /></el-card>
        </div>
        <floor :promoProduct="flag ? TVProduct : homeAppliances"></floor>
      </div>
    </div>
    <div class="floor">
      <div class="f_title">
        配件
        <ul>
          <li @mousemove="toggle1(2)">热门</li>
          <li @mousemove="toggle1(3)">保护套</li>
          <li @mousemove="toggle1(4)">充电器</li>
        </ul>
      </div>
      <div class="f_contant">
        <div class="img">
          <el-card :body-style="{ padding: '0px' }" shadow="hover"
            ><img src="../../public/accessory-promo1.png"
          /></el-card>
          <el-card :body-style="{ padding: '0px' }" shadow="hover"
            ><img src="../../public/accessory-promo2.png"
          /></el-card>
        </div>
        <floor :promoProduct="mobile"></floor>
        <!-- <floor v-if="flag1 == 2" :promoProduct="mobileAccessories"></floor>
        <floor v-else-if="flag1 == 3" :promoProduct="protectiveJacket"></floor>
        <floor v-else :promoProduct="usbProduct"></floor> -->
      </div>
    </div>
  </div>
</template>

<script>
import { getHeader, getPromoProduct, getHotProduct } from "../api/get";
//轮播图
import Carousel from "@/components/Carousel/Carousel.vue";
import floor from "@/components/floor/floor.vue";
export default {
  name: "goods",
  data() {
    return {
      Carousel: [], //轮播
      phoneProduct: [], //手机
      TVProduct: [], //电视机
      protectiveJacket: [], //保护套
      usbProduct: [], //充电器
      homeAppliances: [], //家电
      mobileAccessories: [], //手机配件

      flag: 0,
      flag1: 2,
      mobile:[],
    };
  },
  created() {
  },
  mounted() {
    //轮播
    getHeader().then((result) => {
      this.Carousel = result.carousel;
      // console.log(this.Carousel);
    });
    //推销的产品
    // 手机
    getPromoProduct({ categoryName: "手机" }).then((result) => {
      this.phoneProduct = result.Product;
      // console.log(this.phoneProduct);
    });
    //电视机
    getPromoProduct({ categoryName: "电视机" }).then((result) => {
      this.TVProduct = result.Product;
      // console.log(this.TVProduct);
    });
    //保护套
    getPromoProduct({ categoryName: "保护套" }).then((result) => {
      this.protectiveJacket = result.Product;
      // console.log(this.protectiveJacket);
    });
    //充电器
    getPromoProduct({ categoryName: "充电器" }).then((result) => {
      this.usbProduct = result.Product;
      // console.log(this.usbProduct);
    });
    //家电
    getHotProduct({ categoryName: ["电视机", "空调", "洗衣机"] }).then(
      (result) => {
        this.homeAppliances = result.Product;
        // console.log("家电", this.homeAppliances);
      }
    );
    //手机配件
    getHotProduct({
      categoryName: ["保护套", "保护膜", "充电器", "充电宝"],
    }).then((result) => {
      this.mobile=this.mobileAccessories = result.Product;
      // console.log("手机配件", this.mobileAccessories);
    });
  },
  methods: {
    toggle(i) {
      this.flag = i;
      console.log(this.flag);
    },
    toggle1(i) {
      this.flag1 = i;
      console.log(this.flag1);
      if (this.flag1 == 2) {
        this.mobile = this.mobileAccessories;
      } else if (this.flag1 == 3) {
        this.mobile = this.protectiveJacket;
      } else {
        this.mobile = this.usbProduct;
      }
    },
  },
  components: { floor, Carousel },
};
</script>

<style lang='scss' scoped>
#goods {

  box-sizing: border-box;
  height: 100%;
  // <!-- Carousel 走马灯 -->
  .Carousel {
    // width: 100%;
    height: 460px;
    background-color: #fff;
    img {
      color: #475669;
      font-size: 18px;
      opacity: 0.75;
      line-height: 300px;
      margin: 0;
      width: 100%;
      height: 460px;
    }
  }
  .floor {
    margin-bottom: 20px;
    .f_title {
      height: 50px;
      font-size: 22px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          margin-right: 10px;
          font-size: 16px;
        }
        li:hover {
          color: #ff6700;
          border-bottom: 2px solid #ff6700;
        }
      }
    }
    .f_contant {
      height: 615px;
      display: flex;
      .img {
        width: 234px;
        height: 615px;
        .el-card {
          padding: 0;
          width: 234px;
          height: 49%;
          margin-bottom: 6%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        > img {
          width: 100%;
        }
      }
    }
  }
}
</style>
