<template>
  <div id="shopCar">
    <header>
      <p>
        <i class="el-icon-shopping-cart-full"></i>
        我的购物车
      </p>
      <span>温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</span>
    </header>
    <main>
      <el-table
        ref="multipleTable"
        :data="shoppingCartData"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" label="全选" width="55">
        </el-table-column>
        <el-table-column label="商品名称">
          <template slot-scope="scope">
            <div class="img">
              <img
                style="height: 80px"
                :src="`http://106.15.179.105:3000/` + scope.row.productImg"
                alt=""
                srcset=""
              />
              {{ scope.row.productName }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="price" label="单价"> </el-table-column>
        <el-table-column prop="num" label="数量">
          <template slot-scope="scope">
            <!-- 步进器 -->
            <el-input-number
              v-model="scope.row.num"
              @change="handleChange(scope.row)"
              :min="1"
              :max="5"
              label="描述文字"
            ></el-input-number>
          </template>
        </el-table-column>
        <el-table-column label="小计">
          <template slot-scope="scope">
            <div style="color: red">
              {{ scope.row.num * scope.row.price }}元
            </div>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <!-- {{ scope.row.productID }} -->
            <i class="el-icon-error" @click="remove(scope.row)"></i>
          </template>
        </el-table-column>
      </el-table>
    </main>
    <footer>
      <div class="left">
        <a href="#" @click="$router.push({path:'./AllGoods'})">继续购物</a><span>|</span>
        <div>共 {{allNumber}}件商品，已选择 {{selectNumber}} 件</div>
      </div>
      <div class="right">
        <div>
          合计：
          <span>{{allPrice}}元</span>
        </div>
        <el-button type="success" plain disabled v-if="result.length==0">去结算</el-button>
        <el-button type="success" v-else @click="goConfirmOrder()">去结算</el-button>
      </div>
    </footer>
  </div>
</template>

<script>
import {
  getShoppingCart,
  deleteShoppingCart,
  updateShoppingCart,
} from "../api/get2";
export default {
  data() {
    return {
      multipleSelection: [],
      shoppingCartData: [],
      user_id: 0,
      result:[],//选中的数据
    };
  },
  mounted() {
    this.getShoppingCartData();
  },
  methods: {
    // 获取用户id
    getDate() {
      var str = localStorage.getItem("token") || "[]";
      var arr = JSON.parse(str);
      return arr.user_id;
    },
    //获取购物车数据
    getShoppingCartData() {
      // console.log(this.user_id);
      getShoppingCart({ user_id: this.getDate() }).then((result) => {
        // console.log(result);
        this.shoppingCartData = result.shoppingCartData;
        this.$store.commit('getShopCarData',this.shoppingCartData)//将数据传到vuex,定位全局数据，方便调用
      });
    },
    //单选
    handleSelectionChange(val) {
      console.log(val);
    this.result=val
     this.$store.commit('getShopCarResult',this.result)
    },
    // 删除事件
    remove(row) {
      console.log(row);
      deleteShoppingCart({
        user_id: this.getDate(),
        product_id: row.productID,
      }).then((result) => {
        this.getShoppingCartData();
        console.log(result);
      });
    },
    //步进器
    handleChange(row) {
      console.log(row);
      updateShoppingCart({
        user_id: this.getDate(),
        product_id: row.productID,
        num: row.num,
      }).then((result) => {
        console.log(result);
        if (result.msg == "修改购物车数量成功") {
          this.$notify({
            title: "成功",
            message: "修改购物车数量成功",
            type: "success",
          });
        } else {
          this.$notify.error({
            title: "修改购物车数量失败",
            message: result.msg,
          });
        }
      });
    },
    //去订单页
    goConfirmOrder(){
      console.log(this.result);
      // this.result=JSON.stringify(this.result)
      this.$router.push({path:"./confirmOrder",query:{result:JSON.stringify(this.result)}})
    }
  },
  computed: {
    // 求总数
    allNumber(){
      let a=0
      this.shoppingCartData.forEach(element => {
        a+=element.num
      });
      return a
    },
    // 求总价
    allPrice(){
      let a=0
      this.result.forEach(element => {
        a+=element.num*element.price
      });
      return a
    },
    //已选择数量
     selectNumber(){
      let a=0
      this.result.forEach(element => {
        a+=element.num
      });
      return a
    }
  },
  components: {},
};
</script>

<style lang='scss' scoped>
#shopCar {
  header {
    display: flex;
    height: 64px;
    border-bottom: 2px solid #ff6700;
    background-color: #fff;
    margin-bottom: 20px;
    p {
      i {
        color: red;
      }
      font-size: 28px;
      line-height: 58px;
      float: left;
      font-weight: 400;
      color: #424242;
    }
    span {
      color: #757575;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      margin-top: 30px;
      margin-left: 15px;
    }
  }
  .el-table {
    .img {
      display: flex;
      align-items: center;
    }
  }
  footer {
    width: 1225px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 20px 0;
    div {
      display: flex;
      align-items: center;
    }
    .left {
      a {
        color: #757575;
      }
      span {
        color: #eee;
        margin: 0 20px;
      }
      div {
        color: #757575;
      }
    }
    .right {
      div {
        span {
          color: #ff6700;
          font-size: 30px;
        }
      }
      .el-button{
        width: 200px;
        text-align: center;
        font-size: 18px;
        margin-left: 50px;
      
      }
    }
  }
}
</style>
