<template>
  <div id="app">
    <Header></Header>
    <div id="nav">
      <div class="center">
        <div class="nav_header">
          <img src="../public/logo.png" alt="" />
          <ul>
            <li @click="toggle(0)" :class="{ li_active: this.flag == 0 }">
              <router-link to="/">首页</router-link>
            </li>
            <li @click="toggle(1)" :class="{ li_active: this.flag == 1 }">
              <router-link to="/AllGoods">全部商品</router-link>
            </li>
            <li @click="toggle(2)" :class="{ li_active: this.flag == 2 }">
              <router-link to="/AboutUs">关于我们</router-link>
            </li>
          </ul>
          <!-- 输入框 -->
          <div style="margin-top: 15px">
            <el-input placeholder="请输入搜索内容" v-model="input1">
              <el-button
                slot="append"
                icon="el-icon-search"
               
              ></el-button>
            </el-input>
          </div>
        </div>
      </div>
    </div>
    <div id="center">
      <router-view />
    </div>
    <Footer></Footer>
  </div>
</template>
<script>

import Header from "@/components/header/header.vue";
import Footer from "@/components/Footer/footer.vue";
import { getProductBySearch } from "./api/get";
export default {
  data() {
    return {
      input1: "",
      flag: 0,
    };
  },
  mounted() {
    /* this.search(); */
  },
  methods: {
    toggle(i) {
      this.flag = i;
    },
   /*  search() {
      getProductBySearch({ search: this.input1, currentPage: 1, pageSize: 15 })
        .then((result) => {
          console.log(result);
          this.$router.push({
            path: "./views/AllGoods",
            query: {search:JSON.stringify(result)},
          });
        })
        .catch((err) => {});
    }, */
  },
  components: { Header, Footer },
};
</script>
<style lang="scss">
#app {
  height: 100%;
  overflow: auto;
  #center {
    width: 1225.5px;
    min-width: 1225.5px;
    margin: 0 auto;
  }
}

//  <!-- m_头 -->
#nav {
  background-color: #fff;
  // height: px;
  .center {
    width: 1225.5px;
    min-width: 1225.5px;
    margin: 0 auto;
    .nav_header {
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        height: 100%;
      }
      ul {
        display: flex;
        transform: translateX(-200px);
        li {
          width: 70px;
          height: 70px;
          line-height: 70px;
          text-align: center;
          a {
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            color: #2c3e50;
            height: 70px;
            width: 70px;
          }
        }
        .li_active {
          border-bottom: 2px solid #409eff;
          a {
            color: #409eff;
          }
        }
      }
    }
  }
}
</style>
